<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>React-express</title>
  <style id='jss-styles'>
    body {
      margin: 0px;
      padding: 0px;
    }
    <%- css %>
  </style>

</head>

<body>
  <div id="root">
    <%- html %>
  </div>
  <script>
    window.__INITIAL_STATE__ = <%- __INITIAL_STATE__ %>
  </script>
  <script src="/public/js/bundle.js"></script>
</body>

</html>
